@model JayElbourne.Models.Project.ProjectIndexModel
@{
    ViewData["Title"] = "Project Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="blog-posts">
    @foreach (var project in Model.Projects)
    {
        @await Html.PartialAsync("_ProjectSummary", project)
    }
</div>