@model IEnumerable<JayElbourneData.Models.Project>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="blog-posts">
    @foreach (var project in Model)
    {
        @await Html.PartialAsync("_ProjectSummary", project)
    }
</div>